absl-py
astroid
astunparse
attrs
black
cachetools
certifi
cfgv
charset-normalizer
click
cycler
distlib
filelock
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
identify
idna
importlib-metadata
iniconfig
isort
joblib
keras
Keras-Preprocessing
kiwisolver
lazy-object-proxy
libclang
Markdown
matplotlib
mccabe
mpmath
mypy-extensions
networkx
nodeenv
numpy
oauthlib
opt-einsum
packaging
pathspec
Pillow
platformdirs
pluggy
pre-commit
protobuf
py
pyasn1
pyasn1-modules
pygame
pylint
pyparsing
pytest
python-dateutil
PyYAML
regex
requests
requests-oauthlib
rsa
sacremoses
scikit-learn
scipy
setuptools-scm
six
sklearn
sympy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-io-gcs-filesystem
termcolor
tf-estimator-nightly
threadpoolctl
tokenizers
toml
tomli
torch
tqdm
transformers
typing_extensions
urllib3
virtualenv
Werkzeug
wrapt
zipp
